@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: white;
  line-height: 2;
}
p,h2,h3,h4 {
    margin-top: 0px;
}
header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
}
.name {
    float: left;
    font-size: 100px;
    margin-top: 30px;
    font-family:  serif;
    color:black;
}
.tvxq {
    float: right;
    margin-top: 120px;
}
.tvxq li {
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    border-bottom: 2px solid black;
    margin-bottom: 1px;
    font-family: serif;
    color: black;
}
.content{
    font-family: serif;  
    margin: 0 auto;
    clear: both;
    width: 940px;
}
h1 {
    margin-bottom: 20px;
    font-size:50px;
    line-height: 1;
    color:black;   
}
.profile-txt {
    width: 520px;
    float: left;
    font-size: 20px
}
img {
    width: 400px;
    margin-left: 20px;
    margin-top: 40px;
}
